@media only screen and (max-width : 720px) {

//--------- content -------
#bg-top-head {
	&.bg-aktif{
		// height: 50px;
	}
}

.entry-header {
	.entry-title {
		font: 500 25px 'Roboto Condensed';
	}
}
.entry-content {
	ul, ol {
		text-align:left;
		margin:0;
	}
}

.site-header {
	.top-head{
		.top-right{
			div {display:none;}
		}
		.nav-first{
			.menu-mob-top {
				// display:block;
				visibility: visible;
			}
			> span{
				#nav-first-title{display:none;}
				&:after{
					content: "";
				}
			}
		}
		.site-branding{
			@include flex(4);
		}
	}
	.bot-head{
		// .site-description{
		// 	width: 80%;
		// }		
	}
	.nav-head {
		    background: $color1;
		.nav-second {display:none;}
		.mob-menu {display:block;}

	}

}



#primary {
	padding:0;
	#mainsg{
		float:none;
		width: 100% !important;
		article {
			font: 300 18px/30px 'Roboto';
		}
	}
}
#customwidget, #secondary {
	width:100% !important;
	max-width:100% !important;
	float:none;
	border:none;
	padding:5px;
	h2{margin:5px 0px;}
	.image-frame {
		ul {
			text-align: center;
			li {
			    height: 110px;
			    width: 195px;
			    margin: 0;
			    display: inline-block;  			
			}
			li:nth-child(1) {
				display: none;
			} 
		}
	}
}



#colophon {
	height:150px;
	.site-info {
		display: none !important;
	}
	.foot-soc {
		display: block;
		height: 75px;
		text-align:center;
		.fa {
			font-size: 50px;
			margin: 17px 6px 3px;
			transition: opacity 0.5s;
			cursor: pointer;
			&:hover {
				opacity:0.7;
			}
		}
	}
	.site-end {
		display: block;
		height: 75px !important;
		padding:10px;
		border-top:0px;
		.end-info {
			text-align:center;
			margin-bottom: 5px;
			a {
				margin-left:0;
				margin-right:10px;
			}
			p{display:none;}


		}

	}
}

.cat-header {
	margin-top: 150px;
	h1 {
		font: 700 40px 'Roboto Condensed';
	}
	p {
		font: 300 18px/25px 'Roboto';
		font-style: italic;
	}
}

.cat-su-container {

	.cat-container {
	    float: none;
	    margin: 0 auto;
	    margin-bottom: 25px;
	    width: 90%;
	    height: auto;
	}
}



#loginform {

	p {
		display:block;
		min-width: 0;
		width: 100%;
		position:relative;
		label {
			position: absolute;
		    left: 0px;
		    top: 5px;
		    font-size: 14px;
		    color: #000952;
		}
		input {
			display: block;
			width: 100%;
			margin-top: 20px;
		}
	}
	.login-remember {
		height: 36px !important;
		label {
			top: 8px;
			input {
				position: absolute;
			    left: 56px;
			    top: -17px;
			}
		}		
	}
}

#well {
	font: 700 30px/46px 'Roboto';
	margin-bottom: -70px;
}
.well-box {
	width: 200px;
	.br2 {
	    font: 500 31px/30px 'Roboto';
	    top: -80px;
	    left: 0px;
	}
	.br1{
	    font: 700 31px/34px 'Roboto';
	    top: -81px;
	    left: 6px;
	}
}
.front-quote {
	margin: 50px 0 140px;
    blockquote p {
        font-size: 18px;
    	line-height: 29px;
    	border-top: 2px dashed white;
    }
    p {
      font-size: 12px;
      border-bottom: 2px dashed white;
    }
}

.front-cat .front-cat-desc {
	font-size: 20px;
    line-height: 28px;
    margin: 0 20px;
}


.message-fix p {
	font : 300 13px/25px 'Roboto';
}

.comment-list {
    margin: 0 0 0 0;
    padding: 0;
}

// .wppb-form-field {
// 	width:100% !important;
// 	position:relative;
// 	label {
// 	    position: absolute;
// 	    left: 0px;
// 	    top: 5px;
// 	    font-size: 14px;
// 	    color: #000952;
// 	}
// 	input, textarea, select {
// 		margin-top: 20px;
// 	}
// }

}



@media only screen and (max-width : 400px) {
	.front-quote {
		display: none;
	}
	#well {
		font: 700 30px/46px 'Roboto';
	    margin-bottom: -90px;
	}
	.well-box {
		width: 137px;
		.br2 {
		    font: 500 22px/22px 'Roboto';
		    top: -62px;
		    left: 0px;
		}
		.br1{
		    font: 700 23px/34px 'Roboto';
		    top: -66px;
		    left: 0px;
		}
	}

	#misteri-box  .front-cat-desc {
		padding-top:10px;
	}

	
	.front-cat {
		.front-cat-desc {
			text-indent: 20px;
		    font-size: 16px;
		    line-height: 22px;
		    margin: 0 10px;
		}
		.front-cat-child a {
    		font: 300 15px/45px 'Roboto';
    		padding: 8px;
		}
	} 


	.cat-header {
		margin-top: 250px;
		h1 {
			font:500 28px 'Roboto Condensed';
		}
		p {
			display: none;
		}
	}

	.cat-container .cat-img {
		height: 160px;
	}

}