.Sains {
	background-color:#0000ff;
}

.Psikologi {
	background-color:#6699ff;
}
.Pseudo-sains {
	background-color:#3333cc;
}
.Neurosains {
	background-color:#33ccff;
}

.Hypnosis {
	background-color:#000099;
}


.Misteri {
	background-color:#6600cc;
}
.Detektif {
	background-color: #660066;
}
.Spiritual {
	background-color: #9966ff;
}
.Mitos {
	background-color: #9933ff;
}
.Pemberdayaan{
	background-color: #9900ff;
}


.Unik {
	background-color:#ffff00;
}

.Extraordinary {
	background-color: #cccc00;
}
.Fenomena {
	background-color: #ff9933;
}
.Tips{
	background-color: #cc6600;
}

.Trick-of-mind {
	background-color:#00ff00;
}
.ESP {
	background-color: #ff6600;
}
.Telepathy {
	background-color: #66ff99;
}
.Remote-viewing{
	background-color: #009999;
}